[2019-10-15 09:13] arrterian opened #3 "Add unit tests for actions, helpers, and status bar"
Need write unit tests for the following modules:
- Actions | `src/actions.ts`
  Actions are all side effects that can be performed by the extension
- Status bar | `status-bar.ts`
  Simple wrap for default VSCode status bar API
- Helpers | `src/helpers.ts`
  Simple stateless and reusable functions

Feel free to add testing dependencies to package.json if you need it.

We should remove existed test

[2019-10-15 09:24] arrterian opened #4 "Set up GitHub actions for running tests and building TypeScript"
Add `.workflow` file with instruction for running tests and TypeScript building

[2019-10-15 13:50] arrterian commented on #4
Done

[2019-10-15 13:50] #4 closed

[2019-10-28 01:19] jul1u5 opened #12 "[Feature]: Allow to specify packages without nix file"
**Is your feature request related to a problem? Please describe.**
Right now the quickest way of making VSCode aware of some packages you need to create a `shell.nix` file.
This creates some friction when you want to check out some projects without creating new files.

**Describe the solution you'd like**
I propose a new command that would function similarly to `nix-shell -p`.
The command would as

[2019-10-28 09:09] arrterian commented on #12
@jul1u5 Hi, thank you for the enhancement proposal.
In the current feature request, I found a couple of reasonable ideas for the further evolution of the extension.

- Finding and autocompletion packages from `nixpkgs` by separate command
- Ability to generate an environment for particular workspace in fly with a couple of commands

**Staff that should be considered implemented another way**
I thi

[2019-11-12 00:12] jul1u5 commented on #12
Hi, @arrterian, sorry for the delay.
I have given some thought to your idea of generating some `<config>.nix` file instead of putting the list of packages in `.vscode/settings.json` file. Single-source of truth seems more desirable. However, I have thought of some edge-cases:

Suppose a project already contains a `shell.nix` file.
- Should the command figure out where to put the dependency in the

[2019-11-24 20:09] arrterian commented on #12
@jul1u5 I think the way storing packages for `nix-shell -p` in `.vscode/settings.json` is most comfortable and fast to implement.

For now, I am rewriting the extension to Purescript. It reasonable to proceed with adding new features after the rewriting will end.

[2019-11-24 22:56] jul1u5 commented on #12
That's cool. Let me know when you finish the rewrite. I can help with implementing this feature.

[2019-12-05 14:07] sengaya opened #14 "python linter not found"
First of all many thanks for this plugin!

I'm using a shell.nix with a python environment. While the python interpreter is correctly detected, additional tools don't handle the nix shell environment properly.

One example is `autopep8`. While I have installed (through shell.nix), I get this popup:
`Formatter autopep8 is not installed. Install?`

I also see problems like:
[code]
... although pytho

[2019-12-06 06:01] tbenst opened #15 "[Feature]: <Short title>"
**Is your feature request related to a problem? Please describe.**
Currently, *.nix files are only found in workspace root. If there are two folders in workspace, no *.nix files are found.

**Describe the solution you'd like**
I'd like to find any *.nix file in top-level folders

**Describe alternatives you've considered**
Recursively searching all folders may be useful in some cases, but just sea

[2019-12-06 12:33] arrterian commented on #15
@tbenst Thank you for the issue.
Now, priority for the issue is rewriting the codebase to purescript and bug fixing, so I will keep the feature in our backlog.

All you need is add the following config to your project
Also, I have good news. You can already use the extension for scope.

[code]

[2019-12-06 19:44] arrterian commented on #14
Thanks for the issue. I'll see for that when will have a time :)
Suggest you check python venv that can have conflicts with this extension, because propose a similar way to use a shell as `nix-shell`.

[2019-12-06 22:40] arrterian commented on #14
I tried to reproduce the bug you reported, but everything fine for me.

Use the toolbar button to select python executable
![image](https://user-images.githubusercontent.com/17511584/70361179-57274900-1889-11ea-90e7-5715f079a9f6.png)

If nix-env enabled we have extra-option for Python executable and can select proper python version using the bottom toolbar tab.

![image](https://user-images.github

[2019-12-07 23:53] sengaya commented on #14
Thanks a lot, that's it. Forgot to set the python executable. Now everything works as expected, really nice!

[2019-12-07 23:53] #14 closed

[2019-12-12 23:38] tbenst opened #17 "[Feature]: Support conda / buildFHSUserEnv"
**Is your feature request related to a problem? Please describe.**
Occasionally, I need to use conda on my NixOS box. Normally, I'd use `nix-shell` to enter a `buildFHSUserEnv`, then run VSCode. This workflow isn't possible with `remote-ssh`, however, and this is where nix-env-selector is fantastic.

nix-env-selector uses [nix-shell --run](https://github.com/arrterian/nix-env-selector/blob/ee6874b

[2019-12-12 23:43] tbenst commented on #15
^ this solution works great, thanks! After heavily using nix-env-selector for a few days, I find that I'm copying the same *.nix envs to multiple folders. Perhaps the better feature request is to specify a list of directories for nix-env-selector to search for *.nix files? e.g.

[code]
That way could customize on both user and workspace level.

[2019-12-29 18:16] GuillaumeDesforges opened #18 "Automatically switch Python path when reloading env"
**Describe the bug**
I had the same issue as https://github.com/arrterian/nix-env-selector/issues/14, because I was working with a Nix env described by a shell.nix file. I modified this file, adding `black` and `flake8` to the Python env, and selected this env again through the plugin.
However the Python bin was still on the previous shell.nix configuration, not the new one in my Nix store.

**Exp

[2019-12-30 14:22] arrterian commented on #18
@GuillaumeDesforges I didn't consider this as a bug. The extension will not change the config for Python extension. The mission for `env-selector` connects the `shell-env` to your vscode. If you can select new python env in your python extension manually it's expected behavior

[2019-12-30 14:36] #18 closed

[2020-01-01 16:58] ysndr opened #19 "[Feature]: direnv support"
**Is your feature request related to a problem? Please describe**
I see this plugin is clearly made with nix in mind. Yet, currently I'm using direnv in combination with this . [plugin](https://github.com/rubymaniac/vscode-direnv).  Sadly that one seems unmaintained having received no update for the last three (!) years and has . accumulated some issues ragarding api incompatibilities.

I was hopi

[2020-01-08 23:10] czifro opened #20 "[Feature]: Support specifying path to nix-shell"
**Is your feature request related to a problem? Please describe.**
I am using vscode's devcontainers feature to use nixos. VSCode's process doesn't use the PATH variable from the container so when this extension attempts to invoke `nix-shell`, it cannot find it. This extension is pretty awesome, this is the only issue I have with it.

**Describe the solution you'd like**
Add a setting to allow spe

[2020-02-22 21:12] jul1u5 opened #23 "[Feature]: Command for reloading current environment"
**Is your feature request related to a problem? Please describe.**
When I try to set up my nix environment for some project, I often need to reload the environment. The current workflow seems too cumbersome to me.

Right now, the fastest way to reload the environment is the following:
1. `Ctrl+Shift+P` (Go to the command palette)
2. Choose `Nix-Env: Select environment`
3. Choose `shell.nix` (or so

[2020-02-26 09:57] arrterian commented on #23
@jul1u5 I think It's a pretty useful feature. Sad, but I have a lack of time near time. If you can help with the contribution it will be awesome 🙂

[2020-02-26 12:05] jul1u5 commented on #23
I would be happy to contribute :) Last time you mentioned that you are rewriting the codebase in PureScript, I see that the PS branch has not been merged yet. Should I just make changes to the TypeScript version?

[2020-02-26 12:16] arrterian commented on #23
Yes, you can contribute to the typescript version as well.

[2020-04-28 20:59] arrterian commented on #23
@jul1u5 thinking about this issue. Reload environment after selecting a new one when buttons "Reload" appears doing the same that build-it "Reload window" command. Sad but we aren't able to do environment changes without reloading window. Is this feature still useful for you?

[2020-04-28 21:12] arrterian commented on #19
@ysndr I plan to add some other feature from the nix package manager to the extension. So, that functionality is out of my roadmap.

[2020-04-28 21:12] #19 closed

[2020-04-28 21:24] arrterian commented on #20
@czifro it's already supported. Please, see my reply https://github.com/arrterian/nix-env-selector/issues/15#issuecomment-562554455

[2020-04-28 21:25] #20 closed

[2020-04-28 21:25] #3 closed

[2020-04-28 21:28] jul1u5 commented on #23
Yeah, I was thinking of implementing this feature, just didn't have much time recently.

I think this is useful as it provides a quicker shortcut for rebuilding the environment. Instead of running `Select Environment` command and then choosing your nix config, you would only need to run `Rebuild Environment`.

Perhaps the command should be better named `Rebuild Environment` as it should only rebui

[2020-04-28 21:32] arrterian commented on #17
@tbenst I investigated the issue briefly. Sad but we need to run some shell command as process fork from node js and I didn't find the solution with `buildFHSUserEnv` if you can help to get `env` output inside the environment by forking process it can help in another way I think we should close the issue as unresolved in this context.

[2020-04-28 21:36] arrterian commented on #23
Will, it just a reminder to reload?

[2020-04-28 23:23] tbenst commented on #17
Hi @arrterian, thanks for looking into this! I didn’t quite follow your comment, could you elaborate or point me to code? happy to help. Thanks!

[2020-04-29 07:28] arrterian commented on #17
@tbenst
Now the extension works this way. https://github.com/arrterian/nix-env-selector/blob/master/src/helpers.ts#L22
We run `env` command inside nix-shell then parse the output through dotenv, then set each variable to node-process on extension host via `process.env`. If we can get the output from `buildFHSUserEnv` via forking some process I will able to implement that in extension. But I can't

[2020-04-29 16:24] Lugoues commented on #20
I may be mistaken but I don't think `nixEnvSelector.nixShellDirectories` solves this problem.
The issue being mentioned here is at [helpers.ts#L22](https://github.com/arrterian/nix-env-selector/blob/4f868e3f257ad5ebb26f87da62611268de18a84c/src/helpers.ts#L22). `node-env` is hard coded without the ability to specify a path.

@czifro for what it's worth, I was able to work around this by adding this

[2020-05-02 13:00] poscat0x04 opened #27 "[Feature]: passing arguments to nix-shell"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-04 16:37] arrterian commented on #27
@poscat0x04 Can you describe your motivation? Why do you need to pass arguments? Can you provide some example when it will useful? Seems that you provide a solution for you problem in the title instead of describing your problem.
Please fill the issue template properly.

[2020-05-04 22:09] poscat0x04 commented on #27
My `shell.nix` is parameterized and I would like to be able to pass these arguments to `shel.nix` using `nix-shell`'s flag `--arg` and `--argstr`

[2020-05-27 06:24] tdbgamer commented on #27
@arrterian one example may be passing the `--pure` flag to `nix-shell` so that the global environment doesn't bleed through. I believe I'm running into issues with this due to a global package right now.

[2020-06-18 07:20] knedlsepp commented on #15
I think this could be fixed by making use of: `${workspaceFolder}` instead of the deprecated `${workspaceRoot}`:
See: https://code.visualstudio.com/docs/editor/variables-reference#_why-isnt-workspaceroot-documented

[2020-06-22 15:01] theduke opened #28 "[Feature]: Environment Auto-Switch"
It would be great to (optionally) support automatically switching to an environment when a project containing a `shell.nix` file is opened.

Alternatively, some users might like to get a notification window saying something like "A shell.nix file was found: would you like to activate the nix environment?".

[2020-07-15 08:48] jameseogden opened #29 "Handle multiple folders in the workspace"
I spent ages with this extension not working because I had multiple folders defined in the workspace eg

[code]

shell.nix was present in ".".  The extension silently didn't find it.

I suggest either

-  warning in the log (or the readme even) that there were multiple workspace folders and only the first is checked OR
-  enumerate files in each configured folder when building the list of possible

[2020-07-15 19:16] jameseogden commented on #29
Obvious dup, sorry.

[2020-07-15 19:16] #29 closed

[2020-08-13 13:51] jamievicary opened #31 "Terminal running in environment"
I've got this working, but when I want to build manually I still need to write "nix-shell" in the terminal by hand, it seems. Could this not be done automatically by the extension?

[2020-08-17 16:53] InLaw opened #32 "Command 'Nix-Env: Select environment' resulted in an error (command 'extension.selectEnv' not found)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. install extension
2. Cmd + Shift + P) and type Select environment
3. See error
`Command 'Nix-Env: Select environment' resulted in an error (command 'extension.selectEnv' not found)`

**Expected behavior**
show .nix files in from the folder

**Screenshots**
If applicable, a

[2020-08-25 02:20] pnotequalnp opened #33 "Open VSX"
Hi, have you considered putting it on [Open VSX](https://open-vsx.org/) as well as the official marketplace? VSCodium and other FOSS editors based on VSCode use Open VSX because the official marketplace has some licensing issues with third-party applications.

[2020-09-16 07:26] bjornfor opened #34 "Brittle environment parsing"
**Describe the bug**
A multi-line environment variable where some lines happen to include assignments mess up the environment created by nix-env-selector.

I'm not sure if this is a bug in nix-env-selector or the dotenv dependency, but anyway I figured it'd be good to document this behaviour _somewhere_.

Basically, this `preConfigure` snippet breaks the nixpkgs compiler inside nix-env-selector:

[2020-09-24 15:24] MaxGabriel commented on #32
I ran into this as well.

[code]

[code]

[2020-09-27 19:25] arrterian commented on #34
Hmm, it's strange. Because the extension doesn't parse the nix-config, only pass the path to config to the native nix-shell command. But I'll take a look.

[2020-09-28 16:33] bjornfor commented on #34
I think you misunderstand. The problem is in how the environment variables produced by `nix-shell --run env` gets interpreted wrongly.

[2020-11-06 11:08] GuillaumeDesforges commented on #31
This should rather be an option, as sometime you want to get out of the nix-shell to edit it and debug it.

[2020-11-06 16:06] GuillaumeDesforges opened #35 "Python extension does not pickup Nix environment"
**Describe the bug**
The official Python extension does not pickup the environment provided by the `shell.nix`.

e.g. my nix-shell has `black` formatter and `flake8` in buildInputs, which I can call from the command line after `nix-shell`, but VS Code still tells me that `black` and `flake8` are not installed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create poetry project, e.g. `nix-s

[2020-11-18 21:07] GuillaumeDesforges opened #36 "[Feature]: Display shell load logs"
**Is your feature request related to a problem? Please describe.**
When I select my `shell.nix` file as Nix env, the build can be long/hang/stop in error.

**Describe the solution you'd like**
I would like to be able to monitor the `nix-shell` evaluation done by the extension.
For instance in the "Output" view of VS Code.

**Describe alternatives you've considered**
I can use `nix-shell` in the co

[2020-11-21 02:29] GuillaumeDesforges commented on #35
I looked at the source code. This extension just defines environment variables for the current process.

https://github.com/arrterian/nix-env-selector/blob/62fc2e367229c74541f71bbaf40db770e9c20824/src/env.ts#L5-L7

I pushed the issue to upstream.

https://github.com/microsoft/vscode-python/issues/14794

[2020-11-21 02:29] #35 closed

[2020-12-10 22:47] drewrisinger commented on #32
One person I was helping troubleshoot this issue resolved it by first opening a workspace (i.e. folder) in VSCode, then trying to select a Nix environment.

[2020-12-12 16:21] derrickbeining opened #38 "Extension unable to find nix-shell"
**Describe the bug**
I can't get the extension to work. It just gives me this error notification:
[code]

If I go into `~/.vscode/extension/arrterian-nix-env-selector-0.1.2/out/helpers.js` and replace `nix-shell` with the absolute path to the binary and restart vscode, then the extension works properly.

Perhaps this is just a problem with my environment, but perhaps if nix-env-selector exposed co

[2020-12-12 16:49] arrterian commented on #38
Can you check that your vscode process really has the correct path with `nix-shell` available? The extension can see all variables that your VSCode process.

[2020-12-12 16:50] arrterian commented on #38
@derrickbeining  ```
Perhaps this is just a problem with my environment, but perhaps if nix-env-selector exposed configuration to be able to specify the path to nix-shell, then that could fix my issue.
[code]

[2020-12-17 13:25] JakubBarta commented on #38
Encountered the very same issue, the fix works for me as well.

**Environment**:

- OS: Linux 5.8.18-1-MANJARO
- shell: zsh
- VS Code:
[code]

[2021-01-26 20:46] matobet opened #39 "Empty string value for attr results in Command failed: `nix-shell -A --run env error: ... `"
**Describe the bug**
Having edited the value and removing it (setting it to empty string) the extension tries to spawn `nix-shell` with `-A` argument but no (empty string) value which fails. The only workaround is to set the value to `''` which is quite ugly/non-intuitive.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install of plugin
2. Go to plugin settings
3. Set "Nix Shell Confi

[2021-01-26 21:04] matobet commented on #39
Created a simple PR to fix this. Also I wonder what is the expected behavior when the other config option is empty. Should it just attempt to load the `default.nix`?

[2021-01-30 01:03] alexandre-lavoie opened #41 "Unable to switch due to spaces in path name"
**Describe the bug**
I am using a path that includes spaces in the name. I am unable to switch environments because of it. The error message is as follows:

[code]

(I've replaced the full path with `...`).

**To Reproduce**
1. Create a folder with spaces in the name and a `*.nix`.
2. Switch to the `*.nix` environment.

**Expected behavior**
I expect to be able to switch environment.

**Environmen

[2021-02-09 03:44] blaggacao commented on #12
This should be able via [devshell](https://github.com/numtide/devshell)'s toml file.

[2021-02-09 03:51] blaggacao opened #43 "[Feature]: numtide/devshell integration"
A tight integration with [numtide/devshell](https://github.com/numtide/devshell) (which seems to grow soonish out of alpha) would be very helpful.

- Specifically, this request includes: interpreting a bare `devshell.toml` proxying through the devshell cli

- Motivation: Remove that friction to devshell for vscode users

/cc @zimbatm (fyi)

[2021-02-14 01:03] nbren12 commented on #41
I am having the same issue.

[2021-02-14 12:11] davidB commented on #39
@matobet Thanks for the PR (I hope it will be merged and included into a release soon) and the workaround

[code]

[2021-02-14 13:47] arrterian commented on #39
@matobet @davidB new version of the extension is coming very soon. The version will contains a bunch bug fixes and improvements (including this one).
@matobet Thanks for the contribution but the PR will incompatible with future changes. So, I can't merge it now.

[2021-02-15 00:35] arrterian commented on #41
Fixed in #44
Released in v1.0.0

[2021-02-15 00:35] #41 closed

[2021-02-15 00:36] arrterian commented on #39
Fixed in #44
Released in v1.0.0

[2021-02-15 00:36] #39 closed

[2021-02-15 00:36] arrterian commented on #38
Fixed in #44
Released in v1.0.0
Please, see CHANGELOG.md for more info.

[2021-02-15 00:36] #38 closed

[2021-02-15 00:38] arrterian commented on #32
should be fixed in V1.0.0
@InLaw Can you check?

[2021-02-15 00:38] arrterian commented on #28
Added in #44
Released in v1.0.0
Please, see CHANGELOG.md for more info.

[2021-02-15 00:38] #28 closed

[2021-02-15 00:40] arrterian commented on #27
Added in #44
Released in v1.0.0
Please, read CHANGELOG.md for more info.

[2021-02-15 00:40] #27 closed

[2021-02-15 00:40] arrterian commented on #12
Added in #44
Released in v1.0.0
Please, read CHANGELOG.md for more info.

[2021-02-15 00:40] #12 closed

[2021-02-15 09:24] arrterian commented on #43
I briefly grabbed the devshell docs. Seems it's already possible to use devshell with this extension, such as a final command to apply an environment still `nix-shell`.
What would you want to see in `nix-env-selector` to make integration simpler?

[2021-02-15 09:32] arrterian commented on #36
@GuillaumeDesforges Hi!
At the moment I can't imagine how to implement it in the `nix-env-selector`. Nix-shell running inside with `--run export` argument. So the result in output is only environment variables, that pass through parsing and then set as environment variables of the extensions host process. Maybe it's possible to bring more information to output. But it will make the parsing process

[2021-02-15 09:35] arrterian commented on #34
I changed the env parsing implementation in the new version. Can you try your case with the new one?
Also, can you dump your env with the command `nix-shell --run export` If the problem still appears.

[2021-02-15 10:06] davidB commented on #39
Thank you, the version 1.0.1 works on my env

[2021-02-15 11:04] arrterian opened #46 "[HELP] Create extended documentation page with examples for different languages"
Hi guys 👋
I have a plan to create a docs site for the extension.
In one of the chapters, I would write about how to use the extension and nix for creating a development environment for different languages and platforms.

Could you guys share with me your nix configs for a different project that using in your real projects?
It'll be good to have examples for Haskell, Rust, Go, Java, etc.

[2021-02-15 12:35] arrterian commented on #33
@pnotequalnp Published and added ci job for future releases.

[2021-02-15 12:35] #33 closed

[2021-02-15 14:06] zimbatm commented on #43
Agreed, as long as the user connects devshell with the `shell.nix` file the plugin should work out of the box.

[2021-02-15 14:09] arrterian commented on #43
I plan to create a documentation site for the extension approach. We can describe this one use case there.
It will very helpful if you will share your experience here #46

[2021-02-15 14:52] #43 closed

[2021-02-15 18:20] bjornfor commented on #34
Before I do that (it takes some time to setup again), is the mechanism still depending on parsing the output of `env`?

If so I think it cannot work, because the newlines output by `env` to separate variables is indistinguishable from newlines _inside_ env vars.

Example, `V1` is a multi-line variable containing the text `V2=2`, but in the output it looks like V2 is a variable too (it is not):

[c

[2021-02-15 21:25] arrterian commented on #34
Now extension use `export` instead of `env`

[2021-02-15 21:29] arrterian commented on #34
It'll help a lot to make the parser better if you would send your `nix-shell --run export` output that interpreting wrong.

[2021-02-15 22:25] #17 closed

[2021-02-15 22:27] arrterian commented on #36
Close. Due to lack ideas how to implement the logs in current approach to parsing environment.

[2021-02-15 22:27] #36 closed

[2021-02-16 10:06] GuillaumeDesforges commented on #36
It seems indeed to be quite technical to implement. Thanks for answering to my request. :)

[2021-02-17 22:28] bjornfor commented on #34
Ah, clever! `export` makes a clear separation between the entities:

[code]

I also tested the extension again (after re-introducing my bug from the OP) and your extension works flawlessly.

Thanks!

[2021-02-17 22:28] #34 closed

[2021-02-18 22:37] joneshf-cn commented on #32
Sorry, I'm getting this same bug and I'm in a workspace. This only started happening today after I updated from 0.1.2 to 1.0.2. Any idea what might be the problem?

Also, if I downgrade to 0.1.2 I get a different problem:
[code]

Though that seems to be related to https://github.com/arrterian/nix-env-selector/issues/38

[2021-02-19 08:06] santiweight commented on #32
I am reproducing this as of today inside a workspace. I've had a VSCode window open overnight and I woke up to this - so this might be related to the recent update.

[2021-02-19 08:06] santiweight commented on #32
Confirmed - this issue does not arise on older versions of the extension

[2021-02-19 18:36] joneshf-cn commented on #32
FWIW, I was able to work around this by installing the `rubymaniac.vscode-direnv` Extension, downgrading this extension to 0.1.2, and reloading everything. Something is definitely amiss, but I've no clue what.

[2021-02-19 21:26] arrterian commented on #32
@joneshf-cn I have couple of questions that can help me figure it out
- Does the error appears when you has already selected nix file in your config and want to select new one or only for blank config? (Or both?)
- Will the error still appear if you will wait for a minute before running the command?

[2021-02-19 21:43] joneshf-cn commented on #32
Both.

Yes.

[2021-02-25 09:29] hedefalk commented on #32
I just installed this extension, got an automatic detection picker, selected my shell.nix. Then nothing happened, I read the readme stating "restart vscode". I tried by just reloading. Still nothing, so I tried the command and now I get this all the time and cannot do anything:

![image](https://user-images.githubusercontent.com/116520/109132579-47c54180-7754-11eb-8615-72d29e324701.png)

[2021-02-25 16:21] aszenz commented on #46
The way I personally use nix for development envs is rather basic but it may suffice for basic documentation.

I only install the language binaries and tooling via nix and then let the languages own build system (cargo, npm, maven) handle building the actual project.

I think for development environments this is an ok practice.

Here's a basic template for an elm development environment.
[code]

H

[2021-02-27 17:31] arrterian commented on #32
Can you guys share the installed extensions list? Maybe there is some conflict. I should reproduce the bug in my system to be able to fix it.

[2021-02-27 17:31] arrterian commented on #32
@hedefalk what OS do you use?

[2021-02-27 17:46] arrterian commented on #46
@aszenz Awesome! Thank you for sharing.

[2021-02-27 20:10] hedefalk commented on #32
MacOS

[2021-03-01 04:29] faldor20 opened #49 "Stuck applying environment"
**Describe the bug**
When i select my environment it just says applying environment forever

**To Reproduce**
Steps to reproduce the behavior:
1.Select envirnment
2.Select shell.nix
3.Wait forever??
**Expected behavior**
It loads the environment.

**Environment:**
 - OS: [nixos 20.09]
 - VS Code
 - Version 1.0.2

**Additional context**
My nix shell:
[code]

[2021-03-02 21:34] cordarei commented on #49
I've been getting this same behavior recently; I tried downgrading to 0.1.2 and it works fine, so it looks like the issue is only with version 1.0.2. I am using VSCode on Windows inside a WSL2 environment.

[2021-03-08 11:52] arrterian commented on #49
Should be fixed in v1.0.4

[2021-03-08 11:53] arrterian commented on #23
@jul1u5 added command "Hit environment" in v1.0.4

[2021-03-08 19:57] #23 closed

[2021-03-08 19:58] arrterian commented on #49
@faldor20 can you confirm that the issue resolved?

[2021-03-08 21:58] andoriyu commented on #32
I have the same error. Used to work a week ago. My setup: VS Code running in windows, remoting to nixos via SSH.

Not letting me select a environment, folder with `shell.nix` is open (the same way it was before). I've tried downgrading the extension - the same issue. I take the regression is after VSCode update and not the extension update.

My remote env:
[code]

VSCode version:  1.54.1

[2021-03-09 16:44] arrterian commented on #32
@andoriyu Do you still get the error on `v1.0.4`?

[2021-03-09 23:32] andoriyu commented on #32
Somehow 20 minutes later it started working on 1.0.4.

[2021-03-10 03:26] cordarei commented on #49
Not the issue author, but I can confirm that 1.0.4 is working for me.

[2021-03-10 13:38] jmatsushita commented on #32
Since the extension is stuck on my `flake.nix` file, I've been modifying it and I now run into this error:
[code]
Then when trying to select the nix shell:
[code]

Maybe warnings make the extension loading fail and results in the `selectEnv` to not exist?

[2021-03-10 13:49] arrterian commented on #32
@jmatsushita seems that I know what is wrong now. It because unproper error handling for sync operation on extension load. Thanks a lot for your comment. I think I will fix it when will have I time soon.

[2021-03-11 05:25] faldor20 commented on #49
Yeah sorry. I'm not setup with nix right now. I'll take @cordarei 's word for it :)

[2021-03-11 05:25] #49 closed

[2021-03-13 08:49] arrterian commented on #32
@jmatsushita added proper error handling. The problem should disappear in v1.0.6

[2021-03-13 14:46] InLaw commented on #32
@arrterian thanks, in my case it is working

[2021-03-13 16:31] jmatsushita commented on #32
Same here @arrterian it works. Thanks a ton!

[2021-03-13 16:33] jmatsushita commented on #46
There you go, I use flakes with the following `flakes.nix` for a haskell project:
[code]

[2021-03-13 16:38] jmatsushita opened #52 "[Feature]: Add Ouput log"
**Is your feature request related to a problem? Please describe.**
When switching to an environment that might have problems building, the "Applying environment..." status bar spinner can go forever without the ability to look at an output log to troubleshoot the problem.

**Describe the solution you'd like**
Other extensions use the Output tab in the Panel to log their output (for instance the Ha

[2021-03-13 16:44] #32 closed

[2021-03-13 16:53] jmatsushita opened #53 "[Feature]: Support Flake and nix develop"
**Is your feature request related to a problem? Please describe.**
Selecting a flake.nix file from the environment selector dropdown currently doesn't work (the "Applying environment..." status keeps spinning).

**Describe the solution you'd like**
Compatibility with the newer `nix develop` shell.

**Describe alternatives you've considered**
It's possible to create a `shell.nix` file that provides

[2021-03-17 16:57] joneshf-cn commented on #32
1.0.6 also seemed to fix it for me. Thanks!

[2021-03-23 01:01] CMCDragonkai commented on #14
Does this work across workspaces? I just tried it, and it still complains it cannot find the linter. I got 2 workspaces, one with flake8 and another without.

[2021-03-27 03:27] bcardiff opened #55 "[Help] Unable to load nix environment"
**Describe the bug**

I attempted a minimalist example to run the hello program provided by nix from a task and the task is not found after loading / hitting the environment. I'm probably doing something wrong here, but if I load the nix environment before opening vscode from the same terminal things work. Thanks in advance.

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]

1. St

[2021-04-01 22:59] zyansheep commented on #53
Yes! This would be awesome! I just moved all my projects over to flakes, but this has been holding me back...

[2021-04-01 23:02] zyansheep commented on #46
This is my `flake.nix` for a rust project I am currently working on.
[code]

[2021-04-17 10:02] Hjdskes commented on #49
I seem to be facing this on 1.0.7. I'm using the workspace feature as suggested elsewhere:

[code]

My shell.nix:

[code]

It's a fairly standard [haskell.nix](https://github.com/input-output-hk/haskell.nix) setup. Let me know if you want me to open a new issue and if you need to see the rest of my nix files as well!

[2021-04-22 15:01] arrterian commented on #55
Hi @bcardiff the extension doesn't affect tasks for now :(

[2021-04-22 15:06] arrterian commented on #49
@Hjdskes it seems there is not a related bug (I just miss error handling somewhere). Please, create a new issue with your problem.

[2021-04-24 18:01] Hjdskes opened #56 "Stuck applying environment"
**Describe the bug**
Symptoms are equal to #49: after selecting the environment, the status remains "Applying environment..." forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Install nix-env-selector 1.0.7
2. Apply environment:
[code]
    It's a fairly standard [haskell.nix](https://github.com/input-output-hk/haskell.nix) setup. Let me know if you need to see the rest of my nix files

[2021-05-04 17:46] michalfita opened #57 "Rustup packages as settings packages"
### Describe the bug
This is a corner case, but I'm improvising here not seeing right solution anywhere else. VSCode's Rust Extension requires presence of `rustup`. I've added `"nixEnvSelector.packages": ["rustup"]` to `.vcode/settings.json`, but VSCode Extension do not see `rustup` after restart. All happens with WSL and remote session.

### To Reproduce
Steps to reproduce the behavior:
1. Add `"

[2021-05-04 19:59] arrterian commented on #57
Nix-shell file and packages options exclude each other. Please unset the `nixFile` parameter when using packages. Also, it seems you made a typo in the setting file path `.vcode/settings.json` -> `.vscode/settings.json`

[2021-05-04 20:36] michalfita commented on #57
Typo corrected, I finger-typed it, not copy&pasted. I've added that to the existing `settings.json`.

Parameter of what? `shell.nix` is maintained in the repo and contains all project's dependencies - trick is I cannot add `rustup` there.

[2021-05-06 04:34] samuela commented on #52
Just ran into this issue as well. It would really be great to stop the spinner and present an error message when `nix-shell` fails. And having logs in the Output pane would be a nice addition whether or not the `nix-shell` works correctly or not.

[2021-05-11 12:38] arrterian commented on #57
@michalfita You can use either the nix packages list or nixFile, but not both simultaneously. It will not work via nix-shell CLI too. I can suggest you use parametrized nix-shell to split project dependencies and setting up your local environment.

[2021-05-16 11:52] #57 closed

[2021-06-06 16:05] ShamrockLee commented on #56
Same issue here.

[2021-06-09 12:40] leiflm commented on #55
What _might_ be an entry point to solve this is the [configuration option](https://code.visualstudio.com/docs/editor/tasks#_can-a-task-use-a-different-shell-than-the-one-specified-for-the-integrated-terminal) `terminal.integrated.automationShell.linux`. But nix-shell is _not_ a [POSIX compliant](https://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html) shell i.e. it does not handl

[2021-06-18 15:36] nanoni17728 opened #59 "Have the extension output logs in the Output window"
Hi!

I had a problem with my nix environment file, but I couldn’t find any error log in VS Code itself. AFAIK your extension doesn’t log anything anywhere at the moment. There exists [an output window](https://docs.microsoft.com/en-us/visualstudio/ide/reference/output-window?view=vs-2019) that extensions can use to send their log to. This would be useful to get feedback if something went wrong.

*

[2021-06-23 07:21] arrterian commented on #59
I consider your issue completely valid. The topic has arisen in other discussions.
If you will able to add logging it'll be awesome :)
Thank you for your contribution 👍

[2021-06-26 16:33] rvanlaar commented on #31
An idea, document the behavior. I'm rather new to nix pkgs. My first thought that the extension was broken since the packages weren't available in the terminal.

[2021-06-29 14:33] nanoni17728 commented on #59
I should have some free time in July!

[2021-07-23 14:31] PBHDK commented on #31
A workaround could be to set up direnv in the project folder? That way, every time one enters the project directory via the VS Code terminal, nix-shell is started? At least it seems to be working for me.

[2021-08-24 05:25] samuela commented on #15
I'd also like to suggest the ability to use `shell.nix` files that are not in the workspace root, but somewhere deeper in the directory structure. I often work in "monorepo" scenarios where the shell.nix file I need to enable is not directly in the workspace root directory.

[2021-09-11 10:05] yusdacra commented on #46
I use https://github.com/yusdacra/nix-cargo-integration in my projects. How it looks in one of my Rust projects' `flake.nix`:
[code]

[2021-09-11 10:09] yusdacra commented on #53
What would be needed for this? I didn't look into how this extension works, but I believe a hacky solution would be using `flake-compat` as explained by the OP. It would basically be something like `nix-build -E '(import (fetchTarball { /* flake-compat url and hash */ }) { src = ./.; }).shellNix'` which I think the extension could use (again, I don't how the extension handles this).

[2021-09-23 12:09] GuillaumeDesforges commented on #59
Would love to see that as well!

[2021-10-15 22:44] baronleonardo opened #62 "Can't make my fhs env work"
I have a nix shell like this
[code]
but I had no success to make it run in vscode
my settings.json

[code]

[2021-11-03 15:20] edulix commented on #53
Just to be clear, if I create a `shell.nix` with the content that @jmatsushita is proposing.. this should be working already? because it's not for me :-( Even if nix-shell shell.nix works.

[2021-11-03 16:54] jmatsushita commented on #53
It works already if you create the `shell.nix` file *and* you select `shell.nix` with the Nix Env: Select Environment command.

[2021-11-11 13:33] arobertn commented on #32
I just experienced this on a remote linux host on 1.0.7, then downgraded to 1.0.6 and it's working.

[2021-11-13 13:49] bbarker opened #63 "shell.nix exetubables don't seem to be made available after selecting shell.nix"
I'd like to be able to use the [Dhall LSP Server](https://marketplace.visualstudio.com/items?itemName=dhall.vscode-dhall-lsp-server) extension with dependencies made available via a `shell.nix` file.

**To Reproduce**
I created a `shell.nix` file with the contents:

[code]

However, after selecting the Nix environment and reloading VS Code, I still get this error:

[code]

In the vs code terminal,

[2021-11-13 14:19] bbarker commented on #63
It looks like I also needed `dhall` from Nix: `nativeBuildInputs = [ pkgs.dhall pkgs.dhall-lsp-server ];`

[2021-11-13 14:19] #63 closed

[2021-11-15 12:33] arobertn commented on #32
If it helps, I also got success downgrading to 0.1.2. Then right away the chemical flask appears in the status bar and when I invoke the selectEnv it works. The chemical flask NEVER appears on the status bar in 1.0.6+. So maybe still a startup sequence error.

[2021-12-01 00:10] samuela commented on #56
How long does it take to enter the `nix-shell` from the command line? Sometimes activating a shell.nix requires downloading/building a bunch of stuff and I don't think nix-env-selector has a ui to show this. It just looks like it's taking a really really long time to load.

If `nix-shell` in the command line runs almost instantaneously but nix-env-selector takes a while than that sounds more like

[2021-12-01 00:10] samuela commented on #56
See also https://github.com/arrterian/nix-env-selector/issues/59

[2021-12-01 00:16] samuela opened #65 "[Feature]: Support shell.nix files outside of the project directory"
**Is your feature request related to a problem? Please describe.**
I frequently find myself working in a monorepo setup. It's often the case that I have a `shell.nix` file in the root of the project and then separate subdirectories for different pieces. Whenever I open up one of those subdirectories in vscode, I have no way of activating the root `shell.nix`.

**Describe the solution you'd like**

[2021-12-01 00:22] samuela commented on #55
This is a huge pain esp. when dealing with non-`type: "shell"` tasks. Eg for vscode extension development, the main launch command looks like:
[code]

[2021-12-21 02:13] austinbutler commented on #62
Possibly related: https://github.com/arrterian/nix-env-selector/issues/17

[2021-12-22 17:59] m1cr0man commented on #31
Another simple solution I found is to add a custom terminal profile. Here's an example you can drop into your code-workspace config:
[code]
There is that couple second delay when you open a window from running nix-shell but it's not nearly as bad as waiting for it to open _then_ running nix-shell yourself :)

[2021-12-23 00:37] kubukoz commented on #53
@arrterian I'd happily sponsor work that would result in this being implemented, do you think that could be arranged?

[2021-12-24 22:37] zyansheep commented on #53
I will pledge $20 worth of Monero if that means anything : )

[2021-12-28 19:02] Wittano opened #66 "Extension don't add package to PATH, when some active tabs need any package"
Weird situation. First time run extension, I selected my configured `shell.nix` file, extension loaded packages, everything works. Second time, extension didn't load my packages and lsp throws exception, because package didn't add to PATH. But when I close every tabs, that use any package, extension will load packages, add to PATH and everything back to normal.

[2022-02-05 01:28] samuela opened #67 ""command 'nixEnvSelector.selectEnv' not found""
**Describe the bug**
Just tried to run the "Select Environment" command from the command palette, but got an odd error.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the command palette with Cmd-Shift-P.
2. Select the "Select Environment" command.
3. Wait a few seconds, then observe the error modal.

**Expected behavior**
The command to not throw an error.

**Screenshots**
<img width=

[2022-02-06 00:10] ShamrockLee commented on #56
@samuela In my experience, This extension *never* finishes applying the environment from a flake, even if it has already been invoked before and the related stuff has been cached.

[2022-02-17 20:06] gracicot opened #68 "[Feature]: Support multiroot workspace"
**Is your feature request related to a problem? Please describe.**

I have a workspace with multiple roots. Some are node projects, some are C++ projects with CMake and I use nix to manage all the environments.

The nix-env-selector don't seem to support this. I cannot select which nix file I'm loading for which directory, and some tools don't seem to work. I must run all my tools in the integrate

[2022-04-19 17:41] InLaw commented on #32
Hello it is back as well on my (new) setup,

![202204-19_1935_18__](https://user-images.githubusercontent.com/16096709/164063342-6b0bf094-db96-41ba-a1df-98ebe8d129d8.png)
![202204-19_1935_31__](https://user-images.githubusercontent.com/16096709/164063343-0654b6c8-b5d0-4207-8605-4b86f9190e12.png)

---

Any idea to fix this?

[2022-04-21 06:55] arobertn commented on #67
Dupe of #32 (which seems like it was never fully resolved).

[2022-05-04 09:08] CMCDragonkai commented on #68
I'm interested in this, since I have many NodeJS projects, and I have a workspace file that is rooted at `Projects/` directory.

In particular, one thing I'm confused about is how nix-specific environment variables get applied to certain extensions.

For example in one project which involves C++, I want to have one of the include paths that `shell.nix` brings in to be understood by the cpptools ex

[2022-05-29 19:49] srid commented on #53
If anyone is looking for a workaround: https://github.com/srid/haskell-template uses `flake-compat` to provide a `shell.nix` that in turn uses `flake.nix` (as well as `flake.lock`). All of that can go away if this issue gets implemented. Using direnv is another option.

[2022-06-07 13:21] CMCDragonkai opened #70 "C/C++ Support: Can this be used to help generate the c_cpp_properties.json configuration file?"
**Is your feature request related to a problem? Please describe.**

The `c_cpp_properties.json` configuration file is necessary for intellisense to work for C/C++ files.

For example right now I have to manually configure it like:

[code]

In particular both the `compilerPath` and `includePath` I had to add in manually.

My `shell.nix` brings in `$NIX_CFLAGS_COMPILE` and `$NIX_LDFLAGS` which shows

[2022-07-06 18:46] mimoo commented on #53
@kubukoz wdym the appropriate vscode extension? The direnv one? So no need for this one?

[2022-07-06 19:38] kubukoz commented on #53
@mimoo yeah, I'm using this one: https://marketplace.visualstudio.com/items?itemName=Rubymaniac.vscode-direnv

[2022-07-23 18:18] nh2 opened #72 "[Documentation]: Document what `Hit environment` means"
Hi, great tool!

https://github.com/arrterian/nix-env-selector/issues/23#issuecomment-792705220 added [Nix-Env: Hit environment](https://github.com/arrterian/nix-env-selector/blob/62f01e632dd1e5ba4ac72d23ccf18b30175dabe0/package.json#L82) visible from the command menu.

I didn't understand what `Hit` means; it seems a bit strange of a terminology for reloading. Running it doesn't show anything vis

[2022-09-01 08:50] yajo opened #73 "[Feature]: Remember nix environment answer"
**Is your feature request related to a problem? Please describe.**
Every time I switch to a direnv-enabled workspace, I get this message:

![image](https://user-images.githubusercontent.com/973709/187873211-dd479f90-2639-4ab0-a1ea-b99f21d1e1f6.png)

**Describe the solution you'd like**
The extension should ask only the 1st time a workspace is opened, and remember the answer for next times.

**Desc

[2022-09-02 16:40] ELLIOTTCABLE opened #74 "[Feature]: VSCode-Remote (SSH) support?"
**Is your feature request related to a problem? Please describe.**
When working remotely over VScode Remote (SSH — a Linux box — not WSL), this extension doesn't appear to have any effect. The pop-up that a Nix environment has been *detected* works; but clicking the "Select" button does … nothing; the window doesn't reload, the environment doesn't appear affected.

**Describe the solution you'd li

[2022-09-10 17:34] Kruemmelspalter commented on #31
this is a good workaround for now, but I think it would still be good for the plugin to somehow include this functionality

[2022-09-12 04:05] dcarosone commented on #74
Not *exactly* nothing. I get a spinning "Applying environment…" in the bottom window, but it seemingly makes no progress.

![image](https://user-images.githubusercontent.com/11495017/189571877-afb2396e-3d19-4928-b1ed-df9bb727d668.png)

[2022-09-16 19:08] dliberalesso commented on #74
@ELLIOTTCABLE Are you selecting `flake.nix` or `shell.nix`?

[2022-09-23 11:10] PBHDK commented on #68
Just giving this a polite bump. Any updates on this? Would also be very interested in this feature :-)

[2022-11-30 18:25] itslychee commented on #74
I tried selecting both `default.nix` and `flake.nix` and it is stuck on Applying environment as well